@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgb(27, 2, 86), rgba(233, 14, 149, 0.792));
    height: 200vh;
    width: 100%;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    color: aliceblue;
}

header {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}

header .logo {
    margin: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 30px;
}

header ul li a {
    padding: 6px 15px;
}

header ul li a:hover,
.active {
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    transition: 0.3s;}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
    /* background-image:linear-gradient(rgb(154, 72, 114)) */
}

.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon {
    mix-blend-mode: screen;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.hee {
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-transform: translateY(-250px);
}

.content {
    color: aliceblue;
    padding: 30px;

}

.content h2 {
    margin: 20px;
    font-size: 30px;
}

.content p {
    margin: 20px;
}